.sessionDetails-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.session-details {
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-details label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.session-details textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid white;
  resize: none;
  background-color: white;
}